body {
  background-color: #FFFCEB;
}

.navbar {
  background-color: #2D446E;
  text-align:right !important;
}

.navbar-toggler-icon svg {
  fill: #FFF;
  width: 30px;
  height: 30px;
}

.navbar-brand,
.navbar-brand:focus,
.navbar-brand:hover {
  color: #FFFCEB !important;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link:focus,
.navbar-nav {
  color: #FFFCEB !important;
}

.nav-link:hover{
  background-color:#C3CFDF;
  color: #2D446E !important
}

.cart-button {
  background-color: #5CAF69 !important;
  color: #FFFCEB !important;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
  display: block;
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item.active .nav-link {
  text-decoration: underline; 
  font-weight: bold; 
}

  .star {
    color: gray;
    cursor: pointer;
  }

  .star.filled {
    color: gold;
  }

  .image-container {
    display: flex;
    justify-content: space-between;
    width: 20;
  }

  .book-image {
    max-width: 200px;
    height: auto;
    align-items: center;
  }


  #summaries {
    height: 200px;
    width: 85%;
    padding: 50px;
    margin: 20px;
    word-wrap: break-word;
    overflow-y: auto;
    background-color: white;
  }

  #progress {
    width: 85%;
    height: auto;
    padding: 50px;
    margin: 20px;
    word-wrap: break-word;
    background-color: white;
  }

